{% extends "app_main_site/base.html" %}

{% block title %}Update -pofile{% endblock %}


{% block content %}
<form method="post" class="update_profile">
    {% csrf_token %}
    {% for item in form %}
        <div class="row">
            <div class="col-md-4 col-12">
                <h5>{{ item.label_tag }}</h5>
            </div>
            <div class="col-md-8 col-12">
                <p>{{ item }}</p>
            </div>
        </div>
    {% endfor %}
    <button type="submit">Update profile</button>
</form>
{% endblock%}